$primary: #F2B807;
$body-bg: #f8f9fa;


@import '~bootstrap/scss/bootstrap.scss';

body {
  font-family: 'Montserrat', sans-serif;
}

.navbar .nav-link {
  color: $primary;
}

label {
  color: $secondary;
}